.form {
  display: flex;
  flex-direction: column;

  &-background {
    display: flex;
    background-color: var(--responsible-main-bg-color);
    flex-direction: column;
    gap: 20px;
    padding: 50px;
  }

  &-content {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 7px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(7, 1fr);
    justify-items: center;
    &-text {
      white-space: nowrap;
      font-family: "PT Sans", sans-serif;
      font-size: 12px;
      line-height: normal;
      color: var(--responsible-table-border-color);
    }

  }

  &-footer {
    display: flex;
    justify-content: end;
  }
}