@import "shared/styles/mixins.module";

.user-selector {
  display: flex;
  border-radius: 3px;
  border: 1px solid var(--responsible-table-border-color);
  box-sizing: border-box;
  position: relative;

  &_invalid {
    border-color: var(--responsible-delete-color);
  }

  &__hint {
    position: absolute;
    right: 0;
    bottom: -20px;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__error {
    position: absolute;
    color: var(--responsible-delete-color);
    left: 0;
    bottom: -20px;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

}

.left-side {
  border-right: 1px solid var(--responsible-table-border-color);

  &_invalid {
    border-color: var(--responsible-delete-color);
  }

  &__search {
    display: flex;
  }
}

.right-side {
  height: 330px;
  overflow-y: auto;
  width: 265px;
  @include scrollbar;

  &::-webkit-scrollbar-track {
    border-radius: 0 2px 2px 0;
  }
}


