.refWrap{
  text-decoration: none;
}

.leadRef {
  transition: color 0.2s;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
  color: var(--responsible-main-text-color);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &:hover{
    color: var(--responsible-table-blue)
  }
}