.footer {
    margin: {
        top: 80px;
        bottom: -57px;
        left: -30px;
        right: -30px;
    } 
    align-self: center;
    padding: 15px 0px 17px;
    background-color: rgb(43, 53, 56);
    color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;


    &__text {
        cursor: default;
        user-select: none;
        text-align: center;
    }

    &__contacts {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
}

.contacts {
    &__item {
        color: inherit;
    }
    
    &__link {
        color: #ececec;
    }
}